singularity {
    enabled = true
    autoMounts = true
    cacheDir = params.singularity_cachedir
}

params {
    naile_chunksize = 1.GB
}

process {
    executor = 'slurm'

    // errorStrategy = { sleep(Math.pow(3, task.attempt) * 45 as long); return 'retry' }
    // errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    // errorStrategy = 'retry'
    // maxRetries    = 1
    // maxErrors     = '-1'

    clusterOptions = '-t 0-08:00:00 --mem=4G --ntasks 1 --cpus-per-task 1'

    withName: NAIL_SEARCH {
        cpus = 2
        maxForks = 200
        memory = '8 GB'
        clusterOptions = '-t 0-08:00:00 --mem 8G --ntasks 1 --cpus-per-task 2'
    }
}
