singularity {
    enabled = true
    autoMounts = true
    cacheDir = params.singularity_cachedir
}

params {
    nail_chunksize = 2.GB
}

process {
    executor = 'slurm'

    errorStrategy = { sleep(Math.pow(3, task.attempt) * 45 as long); return 'retry' }
    // errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    // errorStrategy = 'retry'
    maxRetries    = 1
    maxErrors     = '-1'

    clusterOptions = '-t 0-08:00:00 --mem=4G --ntasks 1 --cpus-per-task 1'

    withName: NAIL_SEARCH {
        cpus = 2
        maxForks = 100
        memory = '32 GB'
        clusterOptions = '-t 0-04:00:00 --mem 32G --ntasks 1 --cpus-per-task 2'
    }

    withName: PARSEHMMSEARCHCOVERAGE {
        cpus = 1
        memory = '16 GB'
        clusterOptions = '-t 0-08:00:00 --mem 16G --ntasks 1 --cpus-per-task 1'
    }
}
