/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: SEQKIT_TRANSLATE {
        ext.args = "--append-frame --allow-unknown-codon --frame 6 --out-subseqs --min-len 15"
    }

    withName: NAIL_SEARCH {
        ext.args = "-Z ${params.databases.pfam.variables.num_models} -E 0.1"
    }

    withName: CONCATENATE {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/nail" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('concatenated')) {
                    return filename
                }
            },
        ]
    }

    withName: PARSEHMMSEARCHCOVERAGE {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/functional-profile" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('tsv')) {
                    return filename
                }
            },
        ]
    }
}
